{% extends "index.html" %}

{% block title %}
    <title>Головна сторінка</title>
{% endblock %}




{% block header %}
    <h1 class="display-4 fw-bolder">Категорії</h1>
    <p class="lead fw-normal text-white-50 mb-0">Тут навелені категорії товарів які вам можуть бути цікаві</p>
{% endblock %}

{% block content %}
    

        {% if category_list %}
            <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        {% for category in category_list %}
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->

                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <a href="{% url 'catalog:category-detail' category.id %}" class="text-secondary fw-bolder" style="text-decoration: none;">
                                                {{ category.name }}
                                            </a>
                                            <!-- Product price-->
                                        
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                   
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% else %}
            <p>Контент порожній</p>
        {% endif %}
{% endblock %}