{% extends "index.html" %}


{% block title %}
    <title>Опис</title>
{% endblock %}

{% block header %}
<h1>{{ product.name }}</h1>
<p>{{ product.category }}</p>

{% endblock %}

{% block content %}
<!------ Include the above in your HEAD tag ---------->

	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"><div class="pd-wrap"> -->
		<div class="container">
	        <div class="row">
	        	<div class="col-md-6">
	        		<div id="slider" class="owl-carousel product-slider">
						<div class="item">
						  	<img class="" style="max-width: 300px;
							  width: 100%;
							  image-rendering: -webkit-optimize-contrast;" src="{{ product.image.url }}" />
						</div>
					</div>
					
	        	</div>
				
	        	<div class="col-md-6">
	        		<div class="product-dtl">
        				<div class="product-info">
							<br>
							<div class="pricecard">
								<div class="head">
								  <h2>Ціна</h2>
								  <!-- <p class="sub">For the small companies</p> -->
								  <p class="price">{{ product.price }} грн</p>
								</div>
								<div class="details">
								  <div class="row">
									<svg viewBox="0 0 512 512" width="100" title="check">
									  <path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
									</svg>
									<p>Кількість</p>
									<div class="col-md-2">
										<select name="" id="qty-cart" class="form-select form-select-sm">
											{% for i in quantity_range %}
												<option value="{{ i }}">{{ i }}</option>
											{% endfor %}
											<!-- <option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option> -->
										</select>
									</div>
								  </div>
								</div>
							  </div>
		        			<!-- <div class="product-name">Назва: {{ product.name }}</div>
                            <div class="product-name">Каталог: {{ product.category }}</div> -->
		        			<!-- <div class="product-price-discount"><span>Ціна: <strong>{{ product.price }} грн</strong></span></div> -->
		        		</div>
						<!-- <div class="row">
							<div class="col-md-2">Кількість:</div>

							<div class="col-md-2">
								<select name="" id="qty-cart" class="form-select form-select-sm">
									{% for i in quantity_range %}
										<option value="{{ i }}">{{ i }}</option>
									{% endfor %}
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							</div>
						</div> -->
	        			<div style="display: flex;
                        	justify-content: space-around;
                        	flex-wrap: wrap;">
						
                            <div class="product-count" style="
																display: flex;
																flex-wrap: wrap;
																align-items: baseline;
																justify-content: center
							
							">
								<div class="product-count form-group">
									<button class="btn btn-secondary" type="button" value="{{ product.id }}" id="add-cart">
										В кошик
									</button>
									<a class="btn btn-secondary" href="{% url 'catalog:category-detail' product.id %}">
										Назад
									</a>
								</div>
							</div>
							
                        </div>
	        		</div>
	        	</div>
	        </div>
	        <div class="product-info-tabs">
		        <ul class="nav nav-tabs" id="myTab" role="tablist">
				  	<li class="nav-item">
                        <p class="nav-link">Опис</p>
				  	</li>
				</ul>
				<div class="tab-content">
				  	<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        {{ product.description }}
                    </div>
				</div>
			</div>
			
		</div>
	{% comment %} </div> {% endcomment %}



<script>
	$(document).on("click", "#add-cart", function(e){
		e.preventDefault();
		$.ajax({
			type: "POST",
			url: '{% url "cart:cart_add" %}',
			data: {
				product_id: $("#add-cart").val(),
				product_qty: $("#qty-cart option:selected").text(),
				csrfmiddlewaretoken: "{{ csrf_token }}",
				action: "post"
			},

			success: function(json){
				// console.log(json)
				document.getElementById("cart_quantity").textContent = json.qty
			},

			error: function(xhr, errmsg, err){

			}

		});
	});

</script>
      
{% endblock %}